<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="people">
          <i class="fa fa-male" aria-hidden="true"></i> Pessoas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="accounts">
          <i class="fa fa-user" aria-hidden="true"></i> Contas
        </a>
      </li>
      <li class="logout">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-sign-in" aria-hidden="true"></i> Sair
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <router-outlet></router-outlet>
  </div>
</div>
